@import url("https://fonts.googleapis.com/css?family=Oswald:400,600,700|Raleway:400,700,800,900&display=swap&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
:root {
  --font-size-body: 14px;
  --font-size-body-larger: 16px;
  --font-size-body-big: 18px;
  --font-size-body-huge: 20px;
  --layout-main-width: 60em;
  --color-body-text: #000;
  --color-body-bgrd: white;
  --color-border-default: #999;
  --spacing-layout-elements: 2em;
  --header-color-h6: whitesmoke;
  --header-color-h1: white;
  --paragraph-color: yellow;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 600px) {
  html {
    font-size: var(--font-size-body-large, 16px);
  }
}

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-body-big, 18px);
  }
}

@media (min-width: 1600px) {
  html {
    font-size: var(--font-size-body-huge, 20px);
  }
}

body,
table,
form,
select,
option,
input,
textarea {
  font: inherit;
  background: var(--color-body-bgrd, white);
  color: var(--color-body-text, #000);
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.site-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--color-link-default, orange);
}

p,
ul,
ol {
  padding-bottom: 1.5em;
}

p {
  color: var(--paragraph-colo, #e5ff00);
}

ul,
ol {
  padding-left: 2em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

ol > li > ol > li {
  list-style-type: lower-roman;
}

blockquote {
  padding: 1rem;
}

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5;
}

blockquote .author:before {
  display: inline-block;
  content: "\2014";
  padding-right: 0.5em;
}

body {
  width: 100%;
  height: 100%;
  background: url("../images/img-7.jpg") no-repeat center fixed;
  background-size: cover;
  overflow-x: hidden;
}

section {
  padding: 6rem 0;
}

img {
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  top: -100vh;
  z-index: 50;
  position: fixed;
  background-color: #16162d;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: "The Historia Demo" sans-serif;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffe838), to(#fd57bf));
  background: linear-gradient(to top, #ffe838, #fd57bf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  -webkit-transition: -webkit-transform 650ms ease-out;
  transition: -webkit-transform 650ms ease-out;
  transition: transform 650ms ease-out;
  transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
}

.menu-toggler.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bar {
  background: -webkit-gradient(linear, left top, right top, from(#ffe838), to(#fd57bf));
  background: linear-gradient(to right, #ffe838, #fd57bf);
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  -webkit-transform: rotate(-450deg) translateX(0.8rem);
          transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  -webkit-transform: rotate(-450deg) translateX(-0.8rem);
          transform: rotate(-450deg) translateX(-0.8rem);
}

.landing-text {
  position: absolute;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 5rem;
  font-family: "Permanent Marker", cursive;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffe838), to(#fd57bf));
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--header-color-h6, #ffe838);
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.781);
}

.about-heading h6 {
  color: var(--header-color-h6, #0ddf6f);
  text-decoration: underline;
  font-weight: 300;
  padding-top: 15px;
}

.profile-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 5rem;
}

.about-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-details p {
  padding-bottom: 0;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 3rem;
  -webkit-transition: color 650ms;
  transition: color 650ms;
}

.btn {
  background-color: #0ddf6f;
  width: 8em;
  height: 3em;
  border: 3px solid grey;
  margin-top: 25px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn a {
  color: red;
}

.fa-facebook-square:hover {
  color: #4267b2;
}

.fa-twitter-square:hover {
  color: #6e9bbe;
}

.fa-instagram-square:hover {
  color: #ea4c89;
}

.fa-linkedin:hover {
  color: #0ddf6f;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.781);
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  color: var(--header-color-h6, #ffe838);
  font-weight: 300;
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.486);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #6cc759;
  border-radius: 100%;
  bottom: -1rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}

.my-skills {
  margin-top: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6em;
  color: var(--header-color-h1, #ffe838);
  margin: 2rem -2px 2rem 0;
  opacity: 0.3;
}

.skill p {
  padding-bottom: 0;
}

.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid #ffe838;
  background-color: #fd57bf;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-container i {
  color: #ffe838;
  font-size: 5rem;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child() {
  margin-bottom: 0;
}

.portfolio-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.portfolio-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--header-color-h6, #ffe838);
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  opacity: 0.3;
  margin: 1rem 0;
  color: var(--header-color-h1, #ffe838);
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  color: #3883ff;
  text-transform: uppercase;
  -webkit-transition: color 650ms;
  transition: color 650ms;
}

.portfolio-description .cta:hover {
  color: #2f67cd;
}

.timeline ul {
  border-left: 4px solid #ffe838;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--header-color-h1, #ffe838);
  margin-bottom: 1rem;
  opacity: 0.3;
}

.timeline .date {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date:before,
.timeline .date:after {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.timeline .date:before {
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.timeline .date:after {
  content: "";
  -webkit-box-shadow: 0 0 0 4px #fd57df;
          box-shadow: 0 0 0 4px #fd57df;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}

@-webkit-keyframes puls {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
            box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  75% {
    -webkit-box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
            box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
            box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}

@keyframes puls {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
            box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  75% {
    -webkit-box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
            box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
            box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}

.contact {
  background-color: #221e3f;
}

form {
  width: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: #fd57bf;
}

input[type="submit"] {
  width: initial;
  background-color: #fd57bf;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  -webkit-transition: background-color 650ms;
  transition: background-color 650ms;
}

input[type="submit"]:hover {
  color: #221e3f;
  background-color: #ffe838;
}

.copyright {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: puls 2s infinite;
          animation: puls 2s infinite;
  cursor: pointer;
}

.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .landing-text {
    font-size: 1.5rem;
  }
  .landing-text h6 {
    font-size: 1.7rem;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 68%;
  }
  li {
    margin: 2rem 0;
  }
  .nav-link {
    font-size: 4.5rem;
  }
  .about-heading h1 {
    font-size: 8rem;
  }
  .section-heading h1 {
    font-size: 3rem;
  }
  .about-details .nav-list {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .about-details li {
    margin: 0 2rem;
  }
  .my-skills {
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .icon-container i {
    font-size: 4rem;
  }
  .timeline ul {
    margin: 0 0 0 auto;
  }
  .timeline .date:before {
    left: -19.2rem;
    color: #15df1f;
  }
  .timeline .date:after {
    left: -5.5rem;
  }
}

@media screen and (max-width: 600px) {
  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }
  .landing-text h1 {
    font-size: 8rem;
  }
  .landing-text h6 {
    font-size: 1.4rem;
  }
  .nav-link {
    font-size: 2.1rem;
  }
  .top-nav.open {
    height: 150vh;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-img {
    margin: 0 0 7rem 0;
  }
  .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-img {
    margin: 0 0 2rem 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .portfolio-description {
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .timeline p {
    font-size: 1.6rem;
  }
  .timeline .date:before {
    font-size: 1.4rem;
  }
  form {
    width: 100%;
  }
  .up {
    right: 2rem;
  }
}

@media screen and (max-width: 425px) {
  body,
  html {
    overflow-x: hidden;
    width: 33em;
  }
  .landing-text {
    width: 22em;
    left: -11em;
  }
  .landing-text h1 {
    font-size: 6rem;
  }
  .timeline .date:after {
    left: -5.9rem;
  }
  .about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-details h1 {
    font-size: 6rem;
  }
  .timeline p {
    font-size: 1.2rem;
    width: 260px;
  }
  .timeline h1 {
    font-size: 1.2rem;
  }
  .nav-list {
    padding-left: 0em;
  }
  .services,
  .portfolio {
    width: 34em;
  }
  .menu-toggler {
    right: -5rem;
  }
  .up {
    top: 0.5rem;
    right: 1rem;
  }
}
