.about .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-heading {
	text-align: center;
	text-transform: uppercase;
	line-height: 0;

	margin-bottom: 6rem;

	h1 {
		opacity: 0.3;
		color: rgba(255, 255, 255, 0.781);
	}

	h6 {
		color: var(--header-color-h6, #0ddf6f);
		text-decoration: underline;
		font-weight: 300;
		padding-top: 15px;
	}
}



.profile-img {
	flex: 1;
	margin-right: 5rem;

	img {
		transition: transform 650ms, border-radius 650ms;


		/* Animation */
		&:hover {
			transform: scale(1.2);
			border: 2px solid purple;
			border-radius: 2em;
		}
	}
}

.about-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		padding-bottom: 0;
	}
}

.social-media {
	margin-top: 5rem;

	i {
		font-size: 3rem;
		transition: color 650ms;
	}
}

.about-details .btn-btn {


	a {
		color: yellow;
	}
}

.fa-facebook-square:hover {
	color: #4267b2;
}

.fa-twitter-square:hover {
	color: #6e9bbe;
}

.fa-instagram-square:hover {
	color: #ea4c89;
}

.fa-linkedin:hover {
	color: #0ddf6f;
}

//.my-skills {
//}
