@media screen and (max-width: 768px) {
	body {
		//background: url("../images/img-8.jpg") no-repeat center fixed;
		//background-size: cover;
		overflow-x: hidden;
	}

	.landing-text {
		font-size: 1.5rem;
	}

	.landing-text h6 {
		font-size: 1.7rem;
	}

	.nav-list {
		flex-direction: column;
		height: 68%;
	}

	li {
		margin: 2rem 0;
	}

	.nav-link {
		font-size: 2.5rem;
	}

	.about-heading {
		h1 {
			font-size: 8rem;
			position: relative;
			right: 0.6em;
		}

		h6 {
			position: relative;
			right: 8em;
		}
	}

	html:not(.no-js) [data-aos^="fade"][data-aos^="fade"].aos-animate {
		width: 259px;
	}

	.section-heading h1 {
		font-size: 3rem;
	}

	.about-details .nav-list {
		flex-direction: initial;
		position: relative;
		right: 9em;
	}

	.about-details li {
		margin: 0 2rem;
	}

	.my-skills {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		justify-items: center;
	}

	.icon-container {
		width: 7rem;
		height: 7rem;
	}

	.icon-container i {
		font-size: 4rem;
	}

	.timeline ul {
		margin: 0 0 0 auto;
		position: relative;
		left: 10rem;
		width: 516px;
	}

	.timeline .date:before {
		left: -19.2rem;
		color: rgb(21, 223, 31);
	}

	.timeline .date:after {
		left: -5.5rem;
	}
}

@media screen and (max-width: 600px) {
	.menu-toggler {
		top: 2rem;
		right: 2rem;
	}

	.landing-text h1 {
		font-size: 6.5rem;
	}

	.landing-text h6 {
		font-size: 1.4rem;
	}

	.nav-link {
		font-size: 2.1rem;
	}

	.top-nav.open {
		height: 150vh;
	}

	.about .container {
		flex-direction: column;
	}

	.profile-img {
		margin: 0 0 7rem 0;
	}

	.portfolio-item {
		flex-direction: column;
	}

	.portfolio-img {
		margin: 0 0 2rem 0;
		order: 1;
	}

	.portfolio-description {
		margin: 0;
		order: 2;
	}

	.timeline {
		h1 {
			font-size: 1rem;
			width: 300px;
		}

		p {
			font-size: 1.6rem;
			width: 400px;
		}
	}

	.timeline .date:before {
		font-size: 1.4rem;
	}

	.timeline .date::after {
		left: -5.8rem;
	}

	.up {
		right: 2rem;
	}
}

@media screen and (max-width: 500px) {
	.about-heading {
		h1 {
			font-size: 5em;
			right: 0.3em;
		}


		h6 {
			right: 1em;
		}
	}

	.about-details .nav-list {
		right: 1em;
	}

	.about-details {

		.btn-btn {
			left: 3em;
			position: relative;
		}

		p {
			padding-bottom: 0;
			font-size: 1.4em;
			width: 401px;
		}
	}

	.timeline ul {
		left: 3.5em;
	}

	.timeline p {
		font-size: 1.3rem;
		width: 300px;

	}
}

@media screen and (max-width: 425px) {

	body,
	html {
		overflow-x: hidden;
		width: 33em;
	}

	//body .lock {
	//	overflow: hidden;
	//}
	.landing-text {
		width: 22em;
		left: -11em;

		h1 {
			font-size: 6rem;
		}
	}

	.timeline .date:after {
		left: -5.9rem;
	}

	.about .container {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
	}

	.about-details {
		h1 {
			font-size: 6rem;
			right: 0;
		}

		h6 {
			right: 0;
		}

		p {
			font-size: 1.3em;
		}

		.nav-list {
			right: 0;
		}
	}

	.my-skills {
		justify-items: center;
	}

	.timeline {
		p {
			font-size: 1.2rem;
			width: 260px;
		}

		h1 {
			font-size: 1.1rem;
			width: 300px;
		}

		ul {
			width: 69%;
		}
	}

	.nav-list {
		padding-left: 0em;
	}

	.services,
	.portfolio {
		width: 34em;
	}

	.menu-toggler {
		right: -1rem;
	}

	.up {
		top: 0.5rem;
		right: 1rem;
	}
}

@media screen and (max-width: 360px) {
	.menu-toggler {
		right: 1rem;
	}

	header {
		height: 60vh;
	}

	img {
		width: 100%;
		position: relative;
		right: 5em;
	}

	html:not(.no-js) [data-aos^="fade"][data-aos^="fade"].aos-animate {
		width: 281px;
		position: relative;
		right: 3em;
	}

	.about-details li {
		margin: 0 1rem;
	}

	.landing-text {
		h6 {
			width: 251px;
			position: relative;
			left: 3em;
		}

		h1 {
			font-size: 2.2rem;
			position: relative;
			right: 2em;
		}
	}

	.about-details h1 {
		font-size: 5rem;
		right: 0.4em;
	}

	.about-details .nav-list {
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		right: 1.5em;
	}

	.timeline {
		h1 {
			width: 183px;
		}

		ul {
			position: relative;
			left: 0;
		}

		p {
			font-size: 1rem;
			width: 210px;
			position: relative;
			right: 2em;
		}
	}
}

@media screen and (max-width: 320px) {
	body.lock {
		overflow: hidden;
	}

	.menu-toggler {
		right: -8rem;
	}

	.top-nav.open {
		height: 169vh;
	}

	.about-details .nav-list {
		right: 0;
	}

	.my-skills {
		justify-items: center;
	}

	.portfolio-description {
		p {
			font-size: 1.6em;
		}
	}
}
