.container {
	width: 90%;
	max-width: 120rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.section-heading {
	text-align: center;
	margin-bottom: 10rem;
	h1 {
		font-size: 3.5rem;
		color: rgba(255, 255, 255, 0.781);
		text-transform: uppercase;
		font-weight: 300;
		opacity: 0.3;
		position: relative;
		margin-bottom: 1rem;
	}
	h6 {
		font-size: 1.6rem;
		color: var(--header-color-h6, #ffe838);
		font-weight: 300;
	}
}

.section-heading h1::before,
.section-heading h1::after {
	content: "";
	position: absolute;
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%);

	background-color: rgba(255, 255, 255, 0.486);
}
.section-heading h1::before {
	width: 10rem;
	height: 3px;
	border-radius: 0.8rem;
}

.section-heading h1::after {
	width: 1.5rem;
	height: 1.5rem;
	background-color: rgb(108, 199, 89);
	border-radius: 100%;
	bottom: -1rem;
}

.section-heading h6 {
	font-size: 1.6rem;
	font-weight: 300;
}

.has-margin-right {
	margin-right: 5rem;
}
