:root {
	--font-size-body: 14px;
	--font-size-body-larger: 16px;
	--font-size-body-big: 18px;
	--font-size-body-huge: 20px;

	--layout-main-width: 60em;

	--color-body-text: #000;
	--color-body-bgrd: white;
	--color-link-default: rgb(255, 255, 255);

	--color-border-default: #999;

	--spacing-layout-elements: 2em;

	--header-color-h6: whitesmoke;
	--header-color-h1: white;
	--paragraph-color: yellow;
}
