.my-skills {
	margin-top: 10rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
	grid-gap: 2.5rem;
	text-align: center;
}

.skill {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.skill h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.6em;
	color: var(--header-color-h1, #ffe838);
	margin: 2rem -2px 2rem 0;
	opacity: 0.3;
}
.skill p {
	padding-bottom: 0;
}

.icon-container {
	width: 10rem;
	height: 10rem;
	border: 3px solid #ffe838;
	background-color: #2df113;
	margin-bottom: 2rem;
	display: flex;
	transform: rotate(45deg);
}

.icon-container i {
	color: #ff0000;
	font-size: 5rem;
	margin: auto;
	transform: rotate(-45deg);
}
.skill:nth-child(1) {
	margin-top: 3em;
}
